.blue {
  background-image: url(../img/board/blue.svg);
}

.brown {
  background-image: url(../img/board/brown.svg);
}

.green {
  background-image: url(../img/board/green.svg);
}

.purple {
  background-image: url(../img/board/purple.svg);
}
