/* alpha */
.alpha piece.pawn.white {
  background-image: url('../img/pieces/alpha/wP.svg');
}
.alpha piece.bishop.white {
  background-image: url('../img/pieces/alpha/wB.svg');
}
.alpha piece.knight.white {
  background-image: url('../img/pieces/alpha/wN.svg');
}
.alpha piece.rook.white {
  background-image: url('../img/pieces/alpha/wR.svg');
}
.alpha piece.queen.white {
  background-image: url('../img/pieces/alpha/wQ.svg');
}
.alpha piece.king.white {
  background-image: url('../img/pieces/alpha/wK.svg');
}
.alpha piece.pawn.black {
  background-image: url('../img/pieces/alpha/bP.svg');
}
.alpha piece.bishop.black {
  background-image: url('../img/pieces/alpha/bB.svg');
}
.alpha piece.knight.black {
  background-image: url('../img/pieces/alpha/bN.svg');
}
.alpha piece.rook.black {
  background-image: url('../img/pieces/alpha/bR.svg');
}
.alpha piece.queen.black {
  background-image: url('../img/pieces/alpha/bQ.svg');
}
.alpha piece.king.black {
  background-image: url('../img/pieces/alpha/bK.svg');
}

/* cburnett */
.cburnett piece.pawn.white {
  background-image: url('../img/pieces/cburnett/wP.svg');
}
.cburnett piece.bishop.white {
  background-image: url('../img/pieces/cburnett/wB.svg');
}
.cburnett piece.knight.white {
  background-image: url('../img/pieces/cburnett/wN.svg');
}
.cburnett piece.rook.white {
  background-image: url('../img/pieces/cburnett/wR.svg');
}
.cburnett piece.queen.white {
  background-image: url('../img/pieces/cburnett/wQ.svg');
}
.cburnett piece.king.white {
  background-image: url('../img/pieces/cburnett/wK.svg');
}
.cburnett piece.pawn.black {
  background-image: url('../img/pieces/cburnett/bP.svg');
}
.cburnett piece.bishop.black {
  background-image: url('../img/pieces/cburnett/bB.svg');
}
.cburnett piece.knight.black {
  background-image: url('../img/pieces/cburnett/bN.svg');
}
.cburnett piece.rook.black {
  background-image: url('../img/pieces/cburnett/bR.svg');
}
.cburnett piece.queen.black {
  background-image: url('../img/pieces/cburnett/bQ.svg');
}
.cburnett piece.king.black {
  background-image: url('../img/pieces/cburnett/bK.svg');
}

/* 7 */
.7 piece.pawn.white {
  background-image: url('../img/pieces/7/wP.svg');
}
.7 piece.bishop.white {
  background-image: url('../img/pieces/7/wB.svg');
}
.7 piece.knight.white {
  background-image: url('../img/pieces/7/wN.svg');
}
.7 piece.rook.white {
  background-image: url('../img/pieces/7/wR.svg');
}
.7 piece.queen.white {
  background-image: url('../img/pieces/7/wQ.svg');
}
.7 piece.king.white {
  background-image: url('../img/pieces/7/wK.svg');
}
.7 piece.pawn.black {
  background-image: url('../img/pieces/7/bP.svg');
}
.7 piece.bishop.black {
  background-image: url('../img/pieces/7/bB.svg');
}
.7 piece.knight.black {
  background-image: url('../img/pieces/7/bN.svg');
}
.7 piece.rook.black {
  background-image: url('../img/pieces/7/bR.svg');
}
.7 piece.queen.black {
  background-image: url('../img/pieces/7/bQ.svg');
}
.7 piece.king.black {
  background-image: url('../img/pieces/7/bK.svg');
}

/* nut */
.nut piece.pawn.white {
  background-image: url('../img/pieces/nut/wP.svg');
}
.nut piece.bishop.white {
  background-image: url('../img/pieces/nut/wB.svg');
}
.nut piece.knight.white {
  background-image: url('../img/pieces/nut/wN.svg');
}
.nut piece.rook.white {
  background-image: url('../img/pieces/nut/wR.svg');
}
.nut piece.queen.white {
  background-image: url('../img/pieces/nut/wQ.svg');
}
.nut piece.king.white {
  background-image: url('../img/pieces/nut/wK.svg');
}
.nut piece.pawn.black {
  background-image: url('../img/pieces/nut/bP.svg');
}
.nut piece.bishop.black {
  background-image: url('../img/pieces/nut/bB.svg');
}
.nut piece.knight.black {
  background-image: url('../img/pieces/nut/bN.svg');
}
.nut piece.rook.black {
  background-image: url('../img/pieces/nut/bR.svg');
}
.nut piece.queen.black {
  background-image: url('../img/pieces/nut/bQ.svg');
}
.nut piece.king.black {
  background-image: url('../img/pieces/nut/bK.svg');
}

/* companion */
.companion piece.pawn.white {
  background-image: url('../img/pieces/companion/wP.svg');
}
.companion piece.bishop.white {
  background-image: url('../img/pieces/companion/wB.svg');
}
.companion piece.knight.white {
  background-image: url('../img/pieces/companion/wN.svg');
}
.companion piece.rook.white {
  background-image: url('../img/pieces/companion/wR.svg');
}
.companion piece.queen.white {
  background-image: url('../img/pieces/companion/wQ.svg');
}
.companion piece.king.white {
  background-image: url('../img/pieces/companion/wK.svg');
}
.companion piece.pawn.black {
  background-image: url('../img/pieces/companion/bP.svg');
}
.companion piece.bishop.black {
  background-image: url('../img/pieces/companion/bB.svg');
}
.companion piece.knight.black {
  background-image: url('../img/pieces/companion/bN.svg');
}
.companion piece.rook.black {
  background-image: url('../img/pieces/companion/bR.svg');
}
.companion piece.queen.black {
  background-image: url('../img/pieces/companion/bQ.svg');
}
.companion piece.king.black {
  background-image: url('../img/pieces/companion/bK.svg');
}

/* fantasy */
.fantasy piece.pawn.white {
  background-image: url('../img/pieces/fantasy/wP.svg');
}
.fantasy piece.bishop.white {
  background-image: url('../img/pieces/fantasy/wB.svg');
}
.fantasy piece.knight.white {
  background-image: url('../img/pieces/fantasy/wN.svg');
}
.fantasy piece.rook.white {
  background-image: url('../img/pieces/fantasy/wR.svg');
}
.fantasy piece.queen.white {
  background-image: url('../img/pieces/fantasy/wQ.svg');
}
.fantasy piece.king.white {
  background-image: url('../img/pieces/fantasy/wK.svg');
}
.fantasy piece.pawn.black {
  background-image: url('../img/pieces/fantasy/bP.svg');
}
.fantasy piece.bishop.black {
  background-image: url('../img/pieces/fantasy/bB.svg');
}
.fantasy piece.knight.black {
  background-image: url('../img/pieces/fantasy/bN.svg');
}
.fantasy piece.rook.black {
  background-image: url('../img/pieces/fantasy/bR.svg');
}
.fantasy piece.queen.black {
  background-image: url('../img/pieces/fantasy/bQ.svg');
}
.fantasy piece.king.black {
  background-image: url('../img/pieces/fantasy/bK.svg');
}

/* letter */
.letter piece.pawn.white {
  background-image: url('../img/pieces/letter/wP.svg');
}
.letter piece.bishop.white {
  background-image: url('../img/pieces/letter/wB.svg');
}
.letter piece.knight.white {
  background-image: url('../img/pieces/letter/wN.svg');
}
.letter piece.rook.white {
  background-image: url('../img/pieces/letter/wR.svg');
}
.letter piece.queen.white {
  background-image: url('../img/pieces/letter/wQ.svg');
}
.letter piece.king.white {
  background-image: url('../img/pieces/letter/wK.svg');
}
.letter piece.pawn.black {
  background-image: url('../img/pieces/letter/bP.svg');
}
.letter piece.bishop.black {
  background-image: url('../img/pieces/letter/bB.svg');
}
.letter piece.knight.black {
  background-image: url('../img/pieces/letter/bN.svg');
}
.letter piece.rook.black {
  background-image: url('../img/pieces/letter/bR.svg');
}
.letter piece.queen.black {
  background-image: url('../img/pieces/letter/bQ.svg');
}
.letter piece.king.black {
  background-image: url('../img/pieces/letter/bK.svg');
}

/* merida */
.merida piece.pawn.white {
  background-image: url('../img/pieces/merida/wP.svg');
}
.merida piece.bishop.white {
  background-image: url('../img/pieces/merida/wB.svg');
}
.merida piece.knight.white {
  background-image: url('../img/pieces/merida/wN.svg');
}
.merida piece.rook.white {
  background-image: url('../img/pieces/merida/wR.svg');
}
.merida piece.queen.white {
  background-image: url('../img/pieces/merida/wQ.svg');
}
.merida piece.king.white {
  background-image: url('../img/pieces/merida/wK.svg');
}
.merida piece.pawn.black {
  background-image: url('../img/pieces/merida/bP.svg');
}
.merida piece.bishop.black {
  background-image: url('../img/pieces/merida/bB.svg');
}
.merida piece.knight.black {
  background-image: url('../img/pieces/merida/bN.svg');
}
.merida piece.rook.black {
  background-image: url('../img/pieces/merida/bR.svg');
}
.merida piece.queen.black {
  background-image: url('../img/pieces/merida/bQ.svg');
}
.merida piece.king.black {
  background-image: url('../img/pieces/merida/bK.svg');
}

/* mono */
.mono piece.pawn.white {
  background-image: url('../img/pieces/mono/wP.svg');
}
.mono piece.bishop.white {
  background-image: url('../img/pieces/mono/wB.svg');
}
.mono piece.knight.white {
  background-image: url('../img/pieces/mono/wN.svg');
}
.mono piece.rook.white {
  background-image: url('../img/pieces/mono/wR.svg');
}
.mono piece.queen.white {
  background-image: url('../img/pieces/mono/wQ.svg');
}
.mono piece.king.white {
  background-image: url('../img/pieces/mono/wK.svg');
}
.mono piece.pawn.black {
  background-image: url('../img/pieces/mono/bP.svg');
}
.mono piece.bishop.black {
  background-image: url('../img/pieces/mono/bB.svg');
}
.mono piece.knight.black {
  background-image: url('../img/pieces/mono/bN.svg');
}
.mono piece.rook.black {
  background-image: url('../img/pieces/mono/bR.svg');
}
.mono piece.queen.black {
  background-image: url('../img/pieces/mono/bQ.svg');
}
.mono piece.king.black {
  background-image: url('../img/pieces/mono/bK.svg');
}

/* pirouetti */
.pirouetti piece.pawn.white {
  background-image: url('../img/pieces/pirouetti/wP.svg');
}
.pirouetti piece.bishop.white {
  background-image: url('../img/pieces/pirouetti/wB.svg');
}
.pirouetti piece.knight.white {
  background-image: url('../img/pieces/pirouetti/wN.svg');
}
.pirouetti piece.rook.white {
  background-image: url('../img/pieces/pirouetti/wR.svg');
}
.pirouetti piece.queen.white {
  background-image: url('../img/pieces/pirouetti/wQ.svg');
}
.pirouetti piece.king.white {
  background-image: url('../img/pieces/pirouetti/wK.svg');
}
.pirouetti piece.pawn.black {
  background-image: url('../img/pieces/pirouetti/bP.svg');
}
.pirouetti piece.bishop.black {
  background-image: url('../img/pieces/pirouetti/bB.svg');
}
.pirouetti piece.knight.black {
  background-image: url('../img/pieces/pirouetti/bN.svg');
}
.pirouetti piece.rook.black {
  background-image: url('../img/pieces/pirouetti/bR.svg');
}
.pirouetti piece.queen.black {
  background-image: url('../img/pieces/pirouetti/bQ.svg');
}
.pirouetti piece.king.black {
  background-image: url('../img/pieces/pirouetti/bK.svg');
}

/* reillycraig */
.reillycraig piece.pawn.white {
  background-image: url('../img/pieces/reillycraig/wP.svg');
}
.reillycraig piece.bishop.white {
  background-image: url('../img/pieces/reillycraig/wB.svg');
}
.reillycraig piece.knight.white {
  background-image: url('../img/pieces/reillycraig/wN.svg');
}
.reillycraig piece.rook.white {
  background-image: url('../img/pieces/reillycraig/wR.svg');
}
.reillycraig piece.queen.white {
  background-image: url('../img/pieces/reillycraig/wQ.svg');
}
.reillycraig piece.king.white {
  background-image: url('../img/pieces/reillycraig/wK.svg');
}
.reillycraig piece.pawn.black {
  background-image: url('../img/pieces/reillycraig/bP.svg');
}
.reillycraig piece.bishop.black {
  background-image: url('../img/pieces/reillycraig/bB.svg');
}
.reillycraig piece.knight.black {
  background-image: url('../img/pieces/reillycraig/bN.svg');
}
.reillycraig piece.rook.black {
  background-image: url('../img/pieces/reillycraig/bR.svg');
}
.reillycraig piece.queen.black {
  background-image: url('../img/pieces/reillycraig/bQ.svg');
}
.reillycraig piece.king.black {
  background-image: url('../img/pieces/reillycraig/bK.svg');
}

/* riohacha */
.riohacha piece.pawn.white {
  background-image: url('../img/pieces/riohacha/wP.svg');
}
.riohacha piece.bishop.white {
  background-image: url('../img/pieces/riohacha/wB.svg');
}
.riohacha piece.knight.white {
  background-image: url('../img/pieces/riohacha/wN.svg');
}
.riohacha piece.rook.white {
  background-image: url('../img/pieces/riohacha/wR.svg');
}
.riohacha piece.queen.white {
  background-image: url('../img/pieces/riohacha/wQ.svg');
}
.riohacha piece.king.white {
  background-image: url('../img/pieces/riohacha/wK.svg');
}
.riohacha piece.pawn.black {
  background-image: url('../img/pieces/riohacha/bP.svg');
}
.riohacha piece.bishop.black {
  background-image: url('../img/pieces/riohacha/bB.svg');
}
.riohacha piece.knight.black {
  background-image: url('../img/pieces/riohacha/bN.svg');
}
.riohacha piece.rook.black {
  background-image: url('../img/pieces/riohacha/bR.svg');
}
.riohacha piece.queen.black {
  background-image: url('../img/pieces/riohacha/bQ.svg');
}
.riohacha piece.king.black {
  background-image: url('../img/pieces/riohacha/bK.svg');
}

/* shapes */
.shapes piece.pawn.white {
  background-image: url('../img/pieces/shapes/wP.svg');
}
.shapes piece.bishop.white {
  background-image: url('../img/pieces/shapes/wB.svg');
}
.shapes piece.knight.white {
  background-image: url('../img/pieces/shapes/wN.svg');
}
.shapes piece.rook.white {
  background-image: url('../img/pieces/shapes/wR.svg');
}
.shapes piece.queen.white {
  background-image: url('../img/pieces/shapes/wQ.svg');
}
.shapes piece.king.white {
  background-image: url('../img/pieces/shapes/wK.svg');
}
.shapes piece.pawn.black {
  background-image: url('../img/pieces/shapes/bP.svg');
}
.shapes piece.bishop.black {
  background-image: url('../img/pieces/shapes/bB.svg');
}
.shapes piece.knight.black {
  background-image: url('../img/pieces/shapes/bN.svg');
}
.shapes piece.rook.black {
  background-image: url('../img/pieces/shapes/bR.svg');
}
.shapes piece.queen.black {
  background-image: url('../img/pieces/shapes/bQ.svg');
}
.shapes piece.king.black {
  background-image: url('../img/pieces/shapes/bK.svg');
}

/* spatial */
.spatial piece.pawn.white {
  background-image: url('../img/pieces/spatial/wP.svg');
}
.spatial piece.bishop.white {
  background-image: url('../img/pieces/spatial/wB.svg');
}
.spatial piece.knight.white {
  background-image: url('../img/pieces/spatial/wN.svg');
}
.spatial piece.rook.white {
  background-image: url('../img/pieces/spatial/wR.svg');
}
.spatial piece.queen.white {
  background-image: url('../img/pieces/spatial/wQ.svg');
}
.spatial piece.king.white {
  background-image: url('../img/pieces/spatial/wK.svg');
}
.spatial piece.pawn.black {
  background-image: url('../img/pieces/spatial/bP.svg');
}
.spatial piece.bishop.black {
  background-image: url('../img/pieces/spatial/bB.svg');
}
.spatial piece.knight.black {
  background-image: url('../img/pieces/spatial/bN.svg');
}
.spatial piece.rook.black {
  background-image: url('../img/pieces/spatial/bR.svg');
}
.spatial piece.queen.black {
  background-image: url('../img/pieces/spatial/bQ.svg');
}
.spatial piece.king.black {
  background-image: url('../img/pieces/spatial/bK.svg');
}
